html, body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
}
body{
	-webkit-user-select: none;
	-moz-user-select: none;
	font-family: Arial, sans-serif !important;
	font-size: 12px;
}
#logo{
	width: 161px;
	height: 27px;
	background: url('img/bar.png') no-repeat;
	position: absolute;
	z-index: 1;
	right: 10px;
	top: 3px;
}
#apptopbar{
	position: absolute;
	top: 0; height: 30px; left: 0; right: 0;
}
#applayout{
	position: absolute;
	top: 30px; left: 0; right: 0; bottom: 0;
}
.components{
	padding: 5px;
	border-bottom: 1px solid #bdbdbd;
}
.components:hover{
	background-color: #E1E9F3;
}
.components table{
	width: 100%;
	border-collapse: collapse;
}
.components table td{
	padding: 5px;
	vertical-align: middle;
}
.componentDragHelper{
	width: 200px;
	height: 60px;
	background-color: #f3f3f3;
	z-index: 100;
	color : #333;
	border: 2px solid #b4b4b4;
	line-height: 60px;
	font-size: 13px;
	text-align: center;
	opacity: .7;
}
.dropHelper{
	background-color: lightyellow;
	margin: 5px;
	height: 60px;
	border:2px dashed #F3B953;
}
.workspace{
	position: absolute;
	top:0; right:0; bottom:0; left:0;
	background-color: #f3f3f3;
	overflow: auto;
}
.workspace .sheet{
	padding: 5px;
	width: 840px;
	min-height: 70px;
	background-color: #fff;
	margin: 13px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.58);
	-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.58);
	box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.58);
}
.workspace .component{
	min-height: 30px;
	margin: 5px;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
.workspace .component:hover,
.workspace .component.hover{
	border: 1px dashed #b0b0b0;
	background-color: #f8f8f8;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.workspace .component:hover .options{
	display: block;
	z-index: 10;
	position: absolute;
}
.workspace .component .options{
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 3px;
}
.workspace .component .options li{
	display: inline;
	margin-right: 5px;
	cursor: pointer;
}
.workspace .component span.name{
	position: absolute;
	right: 0;
	color: #b4b4b4;
}
#alertContent{
	text-align: center;
	font-size: 12px;
}
p.modalMessage{
	margin: 10px;
	text-align: center;
}
input.btnBlue{
	font-family: Tahoma;
	background-color: #DCEBFE;
	border: 1px solid #A9BED3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 20px;
	outline: none;
}
input.btnBlue:hover{
	background-color: #F2F8FF;
}
input.btnBlue:focus{
	background-color: #A8CCDA;
	border: 1px solid #7BABD1;		
}
.dhxwins_mcover{
	background-color: #808080 !important;
}
.componentSettings{
	font-size: 12px;
	height: 100%;
	overflow-y: auto;
}
.componentSettings table{
	border-collapse: collapse;
	width: 100%;
}
.componentSettings table span{
	display: inline-block;
	padding: 3px;
}
.componentSettings table span.type{
	color: #566585;
}
.componentSettings table textarea{
	resize:vertical;
}
.componentSettings table input,
.componentSettings table textarea,
.componentSettings table select{
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #c2c2c2;
	padding: 3px;
	font-family: tahoma, sans-serif;
	font-size: 12px;
	outline: none;
}
.componentSettings table input[type=checkbox]{
	width: auto;
}
.componentSettings table td{
	padding: 2px 5px;
	margin: 1px 0;
	border: 2px solid #fff;
}
.componentSettings table td.subtitle{
	font-weight: bold;
	padding: 4px;
	text-transform: uppercase;
}
.componentSettings table td:nth-child(1){
	width: 150px;
	background-color: #E8EFF5;
}
.componentSettings table td:nth-child(2){
	width: 8px;
}
#preview-all{
	height: 100%;
	overflow: auto;
}

table.parameter{
	border:1px solid #fff;
	width:100%;
	border-collapse:collapse;
}
table.parameter td{
	background-color: #e9e9e9;
}
table.parameter th{
	background-color: #E8EFF5;
}
#applocker{
	background-color:black; opacity:.7; position:absolute; top:0; left:0; right:0; bottom:0; z-index:100;
}
.applocker{
	text-align: center;
}